

<h1 style="color:blue;">Create New Vendor & Sweet</h1>


<% if @vendor_sweet.errors.any? %>
<% @vendor_sweet.errors.full_messages.each do |message| %>
<%= message %>
<% end %>
<% end %>
<h3 style="border:4px dashed Lavender;">Please select a vendor and sweet: </h3>
 <%= form_for @vendor_sweet do |f| %>
 <%= f.collection_select(:vendor_id, Vendor.all, :id, :name) %><br>
 <%= f.collection_select(:sweet_id, Sweet.all, :id, :name) %><br>
 <%= f.submit %>
 <% end %>
